.hello{
    background-image: url('https://www.google.com/search?q=good+background+pictures&source=lnms&tbm=isch&sa=X&ved=0ahUKEwjK46ufzJnkAhVDSxUIHTR7CpEQ_AUIESgB&biw=1853&bih=981#imgrc=RqZFwNg-z7UV7M:');
    background-repeat: no-repeat;
    background-size: cover;
}